h1 {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: chocolate;
}

p {
    text-indent: 30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: chocolate;
}