html {
    background-color: floralwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: black;
}

fieldset {
    border: none;
}

form {
    width: 350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(205, 60, 3, 0.4);
}

label {
    margin-bottom: .25em;
}

input,
label {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input {
    padding: .75em;
    border-radius: 5px;
    margin-bottom: 1.5em;
    border: 1px solid #bbb;
    font-size: 1em;
}

legend {
    text-align: center;
    font-weight: bold;
    padding: 1em; 
    color: black;
    font-size: 1.2em;
}

.actions {
    display: flex;
    gap: 1em;
}

.submit {
    margin-left: auto;
    background-color: brown;
    color: white;
    cursor: pointer;
}

.reset {
    margin-left: auto;
    background-color: white;
    color: brown;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid brown;
}