body {
    padding: 0;
    display: flex;
    background-color: rgb(15, 15, 29);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 100px;
}

h1 {
    font-size: 45px;
    color: antiquewhite;
    border-bottom: 2px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    width: 90%;
    gap: 16px;
    list-style-type: none;
}

.list-item {
    background-color: aliceblue;
    text-align: center;
    margin: 10px;
    border-radius: 6px;
    flex-basis: 280px;
    background-image: url(../recursos/thumb03.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item:hover .list-item__nome{
    color: rgb(5, 5, 90);
}

.list-item__perfil img{
    width: 90px;
    border-radius: 50%;
    border: 6px solid aliceblue;
    margin-top: 120px;
}

.list-item__nome {
    font-size: 26px;
    color: rgb(107, 106, 106);
    margin: 0;
}

.list-item__dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.list-item__actions {
    margin: 7px 0 8px;
    padding-top: 17px;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid #ada9a91a;
    /* width: 85%; */
    gap: 30px;
    opacity: 0.6;
    background-color: lavender;
}