body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.cabecalho-container {
    background-image: url(../../imagensSIte/bg-3.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
}

.container-titulo {
    margin: 80px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

.container-titulo h1 {
    font-size: 60px;
    text-shadow: 2px 1px 4px black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.container-titulo p {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    display: inline-block;
    padding: 15px;
    border-bottom: 2px solid;
}

.cabecalho-container nav ul {
    margin: 20px 50px 0 0;
    text-align: right;
}

.cabecalho-container nav li {
    list-style-type: none;
    border: 1px solid white;
    display: inline-block;
    margin-left: 16px;
}

.cabecalho-container nav a {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    padding: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.cabecalho-container nav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    
}

main {
    width: 80%;
    margin: auto;
    max-width: 860px;
}

article {
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: white;
    padding: 20px;
}

article h2 {
    border-bottom: 2px solid #ccc;
    background-color: #eee;
    padding: 10px;
    margin-top: 0;
}

.saiba-mais {
    background-color: #cdc7c3;
    display: block;
    padding: 12px 16px;
    border-radius: 5px;
    margin-left: auto;
    width: fit-content;
}

.rodape-principal {
    color: white;
    background-color: #6b6c68;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}