body {
    width: 80%;
    margin: auto;
    background-color: #080808;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#cabecalho {
    background-color: black;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho img {
    width: 160px;
    height: 40px;
    padding: 0 0 0 20px;
}

nav {
    padding-right: 26px;
}

#menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 27px;
    color: white;
    list-style: none;
    
}

#menu #destaque {
    background-color: #d0ff00;
    padding: 13px;
    border-radius: 3px;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#destaque a {
    color: black;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

#container-planos {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.card-planos {
    display: flex;
    flex-direction: column;
    background-color: #2b2a2a;
    padding: 15px;
    border-radius: 5px;
    flex-basis: 200px;
    justify-content: space-between;
    height: 300px;
}

h2 {
    width: 100%;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1pt;
    border-bottom: 1px solid #d0ff00;
    padding-bottom: 10px;
    margin: 0;
}

.preco-plano {
    display: inline-block;
    font-size: 20px;
    margin: 15px 0 0 0;
}

.pmes {
    display: inline;
    letter-spacing: -0.4pt;
}

.info-plano {
    font-size: 14px;
    line-height: 1.7;
    list-style-position: outside;
    padding: 0 0 0 16px;
}

.info-plano li::marker {
    color: #d0ff00;
}

.btn-assineja {
    background-color: rgb(208, 255, 0);
    padding: 10px;
    text-align: center;
    color: #080808;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.7pt;
    border-radius: 4px;
}

.btn-assineja:hover {
    box-shadow: -1px 1px 8px rgba(208, 255, 0, 0.5);
    color: #d0ff00;
    background-color: #080808;
}