body {
    margin: 0;
    padding: 0;
    background-color: #0f1025;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

h1 {
    color: white;
}

.list {
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
}

.list-item {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-image: url(../layout_/recursos/thumb01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item__perfil img {
    border-radius: 50%;
    width: 80px;
    margin-top: 120px;
}

.list-item__nome {
    margin: 0;
    font-size: 24px;
    color: #385555;
}

.list-item__actions {
    display: flex;
    background-color: #e5e5e5;
    padding: 16px;
    justify-content: space-evenly;
    gap: 16px;
}